---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import EmpoweringWomen from "../components/EmpoweringWomen.astro";
import NextGenHealth from "../components/NextGenHealth.astro";
import Promotional from "../components/Promotional.astro";
import Rating from "../components/rating.astro";
import BrandLogos from "../components/BrandLogos.astro";
import Locations from "../components/Locations.astro";
import Testimonials from "../components/Testimonials.astro";
import BookingForm from "../components/BookingForm.astro";
import InstagramFeed from "../components/InstagramFeed.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Femina Plus - Expert Hair, Makeup & Nails. Your Hair | Makeup | Nails | Skin | Lashes"
    />
    <title>Femina Plus - Beauty & Wellness Center</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" is:inline
    ></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
      is:inline></script>
  </head>
  <body class="antialiased">
    <Header />
    <main>
      <Hero />
      <Rating />
      <EmpoweringWomen />
      <NextGenHealth />
      <Promotional />
      <BrandLogos />
      <Locations />
      <Testimonials />
      <BookingForm />
      <InstagramFeed />
    </main>
    <Footer />
  </body>
</html>

<script
  is:inline
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/Global.js"></script>
<script is:inline>
  $(".slider").slick({
    centerMode: true,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
    dots: true,
    centerPadding: "60px",
    slidesToShow: 3,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: "40px",
          slidesToShow: 3,
        },
      },
      {
        breakpoint: 480,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: "40px",
          slidesToShow: 1,
        },
      },
    ],
  });
</script>
