---
import loreal from "../../public/loreal.png";
import kérastase from "../../public/kerastase.png";
import olaplex from "../../public/olaplex.png";
import swati from "../../public/swati.png";
import gk from "../../public/gk.png";
import ft from "../../public/ft.jpg";
import Moroccanoil from "../../public/mr.jpg";
import Dermalogica from "../../public/dermalogica.png";
import { Image } from "astro:assets";

const brands = [
  loreal,
  kérastase,
  olaplex,
  Moroccanoil,
  Dermalogica,
  swati,
  ft,
  gk,
  kérastase,
  olaplex,
  swati,
  Moroccanoil,
];
---

<section class="bg-white">
  <div class="">
    <div
      class="max-w-[1404px] mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 items-center gap-0"
    >
      {
        brands.map((brand) => (
          <div class="border border-[#F6F6F6] py-[42px] px-[49px] w-full h-[181px] flex items-center justify-center">
            <Image
              src={brand}
              alt={`${brand}`}
              class="object-contain w-full h-full"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
