---
import { Image } from "astro:assets";
import showroomOne from "../../public/showroom-image-1.jpg";
import showroomTwo from "../../public/showroom-image-2.jpg";
import showroomThree from "../../public/showroom-image-3.jpg";
import showroomFour from "../../public/showroom-image-4.jpg";

const shopLocaiton = [
  {
    title: "FP44",
    location: "SCO 268, SECTOR 44-C, CHD. - 0172 46228844, 8725055006",
    image: showroomOne,
  },
  {
    title: "FP LUXE",
    location: "SCO 164-165, SECTOR 9-C, CHD. - 0172 4024040, 7973268966",
    image: showroomTwo,
  },
  {
    title: "FP KHARAR",
    location: "SCO 55, SECTOR 125, NEW SUNNY ENCLAVE - 9815931884",
    image: showroomThree,
  },
  {
    title: "FP PKL",
    location: "SCO 386, SECTOR 8 - 0172-4025050, 9815962884",
    image: showroomFour,
  },
];
---

<section class="py-16 bg-white text-black">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative md:grid md:grid-cols-10 gap-12 pb-20">
      <div
        class="absolute inset-0 bg-cover bg-center bg-no-repeat opacity-10 z-0"
        style="background-image: url('/gen-health-bg.svg');"
      >
      </div>

      <div class="relative z-10 md:col-span-7">
        <div class="flex gap-[17px] items-center mb-[20px]">
          <div class="h-[10px] w-[33px] rounded-full bg-black"></div>
          <p>Location area</p>
        </div>
        <h2 class="text-[50px] md:text-[54px] leading-[64px] font-anticdidone">
          Discover Our Convenient <br />
          Nearby Locations
        </h2>
      </div>

      <div class="relative z-10 flex items-center col-span-3">
        <p class="text-[18px] font-manrope text-black">
          Look effortlessly radiant with easy to apply products that save time
          and feel like you
        </p>
      </div>
    </div>

    <div
      class="grid gap-6 md:gap-6 lg:gap-0 grid-cols-1 md:grid-cols-2 lg:grid-cols-4"
    >
      {
        shopLocaiton.map((location) => (
          <div class="relative border border-[#D3D3D3] group-hover:border-0 main-inner group after:bg-black after:absolute after:h-1 after:w-0 after:-bottom-[12px] lg:after:-bottom-[8px] after:left-0 hover:after:w-full after:transition-all after:duration-300">
            <div
              class="relative inner transition-all duration-[400ms] ease-in-out
                group-hover:rounded-none"
            >
              <Image
                class="max-w-[229px] w-full h-[347px] mx-auto object-cove grayscale rounded-[147px] transition-all duration-[400ms ease-in-out group-hover:max-w-full group-hover:grayscale-0 group-hover:rounded-none"
                src={location.image}
                alt={`${location.image}`}
              />
            </div>

            <div class="group-hover:bg-black pb-[34px] bg-white px-4 pt-[80px] pb-[37px">
              <p class="text-[32px] leading-[44px] group-hover:text-white text-black font-anticdidone">
                {location.title}
              </p>
              <div class="bg-white group-hover:bg-black flex justify-between text-white group-hover:text-black">
                <p class="group-hover:text-white text-black text-[16px] font-manrope w-[180px]">
                  {location.location}{" "}
                </p>
                <div class="flex justify-center gap-2 flex-col">
                  <div
                    class="border transition-all duration-300
                      shadow-[0_0_0px_0_white]
                      hover:shadow-[0_0_15px_3px_white] border-black group-hover:border-white w-[81px] h-[52px] rounded-[40px] flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="21"
                      height="21"
                      class="fill-black"
                      viewBox="0 0 21 21"
                      fill="none"
                    >
                      <path
                        d="M17.8307 1.06062L1.66825 6.74505C0.756293 7.06579 0.784963 8.36527 1.71018 8.64548L8.82955 10.8016C9.14865 10.8982 9.39859 11.1475 9.49603 11.4664L11.6259 18.4359C11.9089 19.3618 13.211 19.3854 13.5274 18.4705L19.1076 2.33074C19.381 1.53988 18.6201 0.782985 17.8307 1.06062Z"
                        stroke="white"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                  <p class="text-black group-hover:text-white text-[14px] font-manrope font-medium text-center">
                    Direction
                  </p>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
