@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Manrope:wght@200..800&display=swap");
.animate-spin-ultra-slow {
  animation: spin-super-slow 10s linear infinite;
}

@keyframes spin-super-slow {
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-super-slow {
  animation: spin-super-slow 10s linear infinite;
}

.height-add {
  height: 40vh;
}

.slide-item {
  position: relative;
  background-color: white;
  text-align: center;
  overflow: visible;
}

/* Fullscreen rectangular image */
.slide-img {
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  transition: border-radius 0.7s ease, height 0.7s ease;
}

/* Hide text initially */
.slide-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  margin-top: 20px;
  color: #000; /* adjust text color */
}

.slick-center {
  overflow: hidden;
}
/* Active slide styles */
.slick-center .slide-img {
  height: 329px; /* smaller height for circle */
  width: 229px; /* fixed width for circle */
  border-radius: 300px;
  padding-inline: 58px;
  padding-block: 80px;
  margin: 0 auto; /* center horizontally */
  transition: border-radius 0.7s ease, height 0.7s ease, width 0.7s ease;
}

/* Show text below active slide image */
.slick-center .slide-text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.slick-list,
.draggable {
  padding-block: 30px !important;
}

.slick-current .overlay {
  opacity: 0 !important;
}

.slick-dots {
  position: absolute;
  top: -50px;
  width: 100%;
  text-align: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 15px;
  height: 15px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #ccc;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background: #333;
}
.slick-active {
  height: 535px;
}

.slick-prev {
}

@media (max-width: 320px) {
  .slick-dots {
    position: absolute;
    top: -30px;
    width: 100%;
    text-align: start;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
